<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div appSetColor>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="setAlert()"  placement="top" ngbTooltip="Tooltip on top" >set alert</button>
  <button  class="btnAlert">alrt</button>
  <button  (click)="goBack()">go back</button>
</div>
