<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <!-- <a (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <br /> -->
    <app-hero-detail-modal  [hero]="hero" [callback]="showMessage"></app-hero-detail-modal>
  </li>
</ul>

<!-- <div *ngIf="selectedHero" >
  <app-hero-detail-modal  [hero]="selectedHero"></app-hero-detail-modal>
</div> -->
