<div class="modal-header">
  <h4 class="modal-title">{{ hero.name | uppercase }} {{ hero.id }} Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <label>name :
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>